<h1>
	hi! here's trax
</h1>


<table>
	<thead>
		<tr>
			<td></td>
		</tr>
	</thead>

	<tbody>
		<% @tracks.each do |track| %>
		<tr>
			<td><%= track.name %></td>
		</tr>




		<% end %>
	</tbody>
</table>